<!DOCTYPE html>
<html>
<head>
  <title>Piggy</title>
</head>
<body>
<form action="/pigged" method="post">
  <input type="text" name="pigword" autofocus>
  <button>Pig Me Now!</button>

  <% if @result %>
    <h2><%= @result %></h2>
  <% end %>
  
</form>
</body>
</html>