<!DOCTYPE html>
<html>
<head>
  <title>Piggy</title>
</head>
<body>
<form action="/pigged" method="post">
  <input type="text" name="word" autofocus>
  <button>Pig Me Now!</button>
</form>
</body>
</html>